
  /* CSS styles for Sign up and Log in*/

  form.signup {
    
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
  }
     form.signup {
   
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    
    form.signup input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    form.signup button {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    form.signup button:hover {
      background-color: #45a049;
    }
    
    .auth {
      max-width: 400px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .auth h1 {
      text-align: center;
      color: #333;
    }
    
    .auth form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    
    .auth input {
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .auth button {
      padding: 10px;
      font-size: 16px;
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
    
    .auth button:hover {
      background-color: #45a049;
    }
    
    .auth p {
      color: red;
      margin-top: 10px;
    }
    
    .auth span {
      margin-top: 10px;
      text-align: center;
    }
    
    .auth span a {
      color: #4caf50;
      text-decoration: none;
      font-weight: bold;
    }
    
    .auth span a:hover {
      text-decoration: underline;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
    }
    
    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #45a049;
    }
    

form.create-post {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.create-post input,
form.create-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form.create-post button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form.create-post button:hover {
  background-color: #45a049;
}

